/* You can customize the appearance of the modal using CSS */

/* Modal background */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modal-content {
  color: #000;
  background-color: #fff;
}
/* Text */
.modal-content p {
  text-align: left;
}

/* Modal header */
.modal-header {
  background-color: #f44336;
  color: #fff;
}

/* Modal footer */
.modal-footer {
  background-color: #f44336;
  color: #fff;
}

/* You can add custom CSS to adjust the appearance of the modal window and its contents */
/* Custom CSS to style the modal button */
.rounded-square {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  padding: 0;
  font-size: 24px;
  line-height: 56px;
  /* background-color: #2196f3;
  color: #fff; */
  background: linear-gradient(45deg, #ff5252, #f48fb1);
  color: #fff;
  text-align: center;
  box-shadow: none;
}

.rounded-square:hover {
  /* background-color: #1976d2; */
  background: linear-gradient(45deg, #e91e63, #c2185b);
}

/* Video container */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Custom CSS to style the carousel items */
/* .carousel-item {
  background-color: #fff;
  height: auto;
  padding: 10px;
}

.carousel-item h4 {
  margin-top: 0;
}

.carousel-item .video-container {
  margin-bottom: 10px;
} */

/* Custom CSS to style the carousel items */
.carousel-item {
  background-color: #fff;
  height: auto;
  padding: 10px;
}

.carousel-item h4 {
  margin-top: 0;
}

.carousel-item .video-container {
  margin-bottom: 10px;
}

/* Hide the prev/next buttons on small screens */
@media only screen and (max-width: 600px) {
  .carousel .carousel-item .col {
    display: block !important;
  }
  
  .carousel .carousel-item .row {
    display: flex !important;
   
